<div>
    <form method="post">
    <p>
        <input name="a" placeholder="сторона a"/>
    </p
    <p>
        <input name="b" placeholder="сторона b"/>
    </p>
    <p>
        <input name="c" placeholder="сторона c"/>
    </p>
    <button>Отпраить</button>
        <label>@ViewBag.message</label>
    </form>

</div>