<div>
    <form method="post">
        <p>Введи  1 - если изучал английский язык, 2 - если немецкий, 3 - если французский, 0 - если не изучал никакой</p>
    <input name="number" />
    <button type="submit">Отправить</button>
    <p>Изучало английский: @ViewBag.EnglishCount</p>
<p>Изучало немецкий: @ViewBag.GermanCount</p>
<p>Изучало французский: @ViewBag.FrenchCount</p>
<p>Не изучало никакой: @ViewBag.NoLanguageCount</p>
    </form>

</div>